.login-form, .signup-form {
    padding: 30px;
}
.login-form md-input-container, .signup-form md-input-container {
    width: 250px;
}
.action-btn {
    width: 100%;
    margin: 20px 0;
}
.side-btn {
    font-size: 14px;
    color: #888;
}